body
{
    margin-left: 4px;
    margin-right: 4px;
}

.ui-footer
{
    text-align: left;    
}

.err
{
    color: red;
}

#map_canvas
{
    text-align:center;
}

#settingsIcon
{
    margin-bottom: 14px;
}

.page
{
    
}

#question
{
    text-align:center;
    font-style:italic;
    font-size:150%;
    background: white;
    border-radius: 15px;
    
}

#categories
{
    margin: auto;
    border-collapse: separate;
    border-spacing:20px;
}

table td
{
    text-align:center;
    font-size:12px;
    text-decoration:none;
}

a
{
    text-decoration:none;
}

#mainMenu
{
    margin:auto;
}

#showScore
{
    text-align:inline;
}

/*#yourTurn
{
    width:110px;
    height:220px;
    border-style:solid;
    border-width:medium;
    margin:auto;
    border-radius: 10px;
}*/

#multiIndexContent > p
{
    margin:auto;
    text-align:center;
}

.button
{
    margin:auto;
    text-align:center;
}

.right
{
    margin-right: 4px;
}






