body
{
    margin-left: 4px;
    margin-right: 4px;
}

.ui-footer
{
    text-align: left;    
}

.err
{
    color: red;
}

#map_canvas
{
    text-align:center;
}

#settingsIcon
{
    margin-bottom: 14px;
}