body
{
    margin-left: 4px;
    margin-right: 4px;
}

.ui-footer
{
    text-align: left;    
}

#home
{
background: black url(../images/logo.png)center top no-repeat; 
}

.err
{
    color: red;
}

#map_canvas
{
    text-align:center;
}

#settingsIcon
{
    margin-bottom: 14px;
}

#question
{
    text-align:center;
    font-style:italic;
    font-size:150%;
    background: white;
    border-radius: 15px;
    
}

#categories
{
    margin: auto;
    border-collapse: separate;
    border-spacing:20px;
}

table td
{
    text-align:center;
    font-size:12px;
    text-decoration:none;
}

a
{
    text-decoration:none;
}

#mainMenu
{
    margin:auto;
}

#showScore
{
    text-align:inline;
}

#multiIndexContent > p
{
    margin:auto;
    text-align:center;
}

.button
{
    margin:auto;
    text-align:center;
}

.right
{
    margin-right: 4px;
}
#home
{
    background:black;
}

#singleGameIndex
{
    
}

#timer
{
    text-align:center;
    font-size:25px;
}

#homeContent
{
background-image:url('../images/logo.png');
    margin-top:1.5cm;
    height:400px;
  
}
#logo{
background:black
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

#logoBackground    {
    -webkit-animation-name: spin; 
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin; 
    -moz-animation-duration: 3000ms;
    -moz-animation-iteration-count: infinite; 
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin; 
    -ms-animation-duration: 3000ms;
    -ms-animation-iteration-count: infinite; 
    -ms-animation-timing-function: linear;
}








